.searchPane {
  display: flex;
  align-items: center;
  &.displayResults {
    margin-top: 100px;
  }

  form {
    width: 100%;
    .searchBox {
      flex: 1;
      display: flex !important;
      padding-right: 0;
      input {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .searchButton {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      padding: 16px 16px;
    }
  }

  .results {
    .profile {
      .avatar {
        width: 80px;
        height: 80px;
      }
      .viewDetails {
        margin-left: auto;
      }
      .profileContent {
        display: flex;
        > p {
          &:first-child {
            margin-right: 8px;
          }
          .line {
            display: block;
            .lineDetail {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
